
<div class="mainSearchPanel">
    <div class="col-sm-5 col-md-4"><h3 class="nomargin text-right">Search Incident:</h3></div>
    <div class="col-sm-7 col-md-7">
        <div class="">

            <div class="input-group">                                 
                <input type="text" class="form-control" id="searchOptionKeyword" placeholder="Search for...">
                        <span class="input-group-btn">                            
                            <a href="javascript:void(0)" id="requestOptionSearch" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                        </span>  
            </div><!-- /input-group -->
                
        </div>
    </div>
</div>