
@{
    ViewBag.Title = "order_detail";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<div class="blueHeading nomargin">
    <h3 class="nomargin">Order Detail</h3>
</div>

@Html.Action("_orders", "shop")





