@model IEnumerable<ViewModels.FileDataMemberViewModel>

@if (@Session["UserID"] == null)
{
    Response.Redirect("/");
}
else
{
    ViewBag.Title = "Gallery Page";
    Layout = "~/Views/Shared/_LayoutFriends.cshtml";
}


<div class="row">
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <div class="blueHeading">
            <h3 class="photoGallery">Photos</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <div class="updateInformation pull-left">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs userInfoTabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="/friends_profile/gallery?name=Photos" role="tab" class="changeURL" data-dataurl="Photos">Your Photos</a>
                </li>
                <li role="presentation">
                    <a href="#contactInfo" aria-controls="contactInfo" role="tab" class="changeURL" data-dataurl="Albums" data-toggle="tab">Albums</a>
                </li>
            </ul>
        </div>       
    </div>

    <div class="col-lg-12">
        <div class="tab-content">
            <div role="tabpanel" class="basicInfoForm photoGallPage tab-pane active" id="basicInfo">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="photoGalleryBox">                            
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <li style="background:url(/Content/images/gallery-photo/@item.photo_path) no-repeat center center;background-size:cover;">                                        
                                        <div class="overLayerFunction">
                                            <a class="fancybox" rel="memberPhoto" href="~/Content/images/gallery-photo/@item.photo_path">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <p class="photoDate">@item.date.ToString("MMM dd, yyyy")</p>
                                        </div>
                                    </li>
                                }
                            }                            
                        </ul>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane ablumSection photoGallPage" id="contactInfo">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="photoGalleryBox">
                            <ul class="ablumList"></ul>
                        </div>

                        <div class="photoGalleryBox hide">
                            <ul class="albumInner">
                                <li class="albumTitle"><h3><label class="pull-left"><a href="/friends_profile/gallery?name=Albums"><i class="fa fa-arrow-circle-left"></i></a></label>@ViewBag.albumName</h3></li>

                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <li style="background:url(/Content/images/gallery-photo/@item.photo_path) no-repeat center center;background-size:cover;">

                                            <div class="overLayerFunction">
                                                <a class="fancybox" rel="memberPhoto" title="Zoom Photo" href="~/Content/images/gallery-photo/@item.photo_path">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                                <p class="photoDate">@item.date.ToString("MMM dd, yyyy")</p>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    <div class="marginTop30px"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        
        for (var i = 0; i < vars.length; i++) {
            var items = vars[i].split("=");
            
            if (items[0] == "name" && items[1] == "Albums") {
                $(".userInfoTabs li:last-child, #contactInfo").addClass("active").siblings().removeClass("active");
            } else {
                
                if (items[0] == "album" && items[1] > 0) {
                    $(".ablumList").addClass("hide");
                    $(".albumInner").removeClass("hide");
                }
            }
        }
        getMemAlbum();        
    });

</script>
