
@if (@Session["UserID"] == null) { 

   ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
else
{   
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";    
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="blueHeading">About Us</h3>
    </div>
    <div class="clearfix"></div>
    <div class="marginTop30px"></div>
    <div class="col-lg-12">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>

        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

        <ul>
            <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</li>
            <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</li>
            <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</li>
            <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </li>
            <li>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</li>
        </ul>

        <p class="text-center">@Html.ActionLink("Contact Us", "Contact", "Home", new { @class = "btn btn-primary" }) <a href="#" class="btn btn-primary">Reference</a></p>

    </div>
</div>
