@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<div class="landingPage">
    <section class="container-fluid bannerSection nopadding">
        <div class="row">
            <div class="col-sm-6 bannerDiv" style="background:url(/Content/assets/images/shopping-banner.jpg) no-repeat #28092b;background-size:cover">
                <div class="overlayer">
                    <h3>I am interested in<br />Products</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    <p><a href="/shop" class="btn BtnCssyellow">Explore Products</a></p>
                </div>
            </div>
            <div class="col-sm-6 bannerDiv" style="background:url(/Content/assets/images/services-banner.jpg) no-repeat;background-size:cover">
                <div class="overlayer">
                    <h3>I am interested in<br />Services</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    <p><a href="#" class="btn BtnCssyellow">Explore Services</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid whatDiffer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="heading">We Are Different</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon1.png" alt="" />
                        <h4>Talents</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon2.png" alt="" />
                        <h4>Groups & Communities</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon3.png" alt="" />
                        <h4>Documents Management</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon4.png" alt="" />
                        <h4>Social Media</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon5.png" alt="" />
                        <h4>Rewards</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="contentBox text-center">
                        <img src="~/Content/assets/icons/modules-icon6.png" alt="" />
                        <h4>Shopping</h4>
                        <p>Icing pie liquorice brownie chupa chups. Gummi bears sesame snaps bear claw pudding tootsie roll cheesecake powder. Soufflé marzipan soufflé icing chupa chups pastry donut caramels tiramisu.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid nopadding how_work_it" style="background:#1e293c;">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/assets/images/how_work_image.jpg" />
            </div>
            <div class="col-sm-6">
                <div class="contentBox">
                    <h3 class="heading">How It Works</h3>
                    <p>Cake pastry sweet donut croissant gummi bears jelly beans pastry. Pastry donut danish chocolate donut dessert danish lemon drops. Toffee marshmallow cotton candy tiramisu pastry chocolate bar danish icing apple pie.</p>
                    <p>Sesame snaps cookie chocolate cake cake. Dragée caram cookie chupa chups cookie sweet roll bonbon halvah oat cake. Marshmallow sweet gummies ice cream biscuit biscuit. Carrot cake cake sweet pie jelly-o chocolate cake danish cookie.</p>
                    <p><a href="#" class="btn BtnCssyellow marginTop30px noradius">Know More</a></p>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid testimonials" style="background:#eeeeee;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center heading">Testimonials</h3>
                </div>
                <div class="col-sm-12">
                    <div class="text-center quoteIcon"><img src="~/Content/assets/icons/quote-icon.png" alt="" /></div>
                    <div class="owl-carousel testimonialSlider" style="overflow:hidden">
                        <div>
                            <img src="~/Content/assets/images/testimonials1.png" alt="Banner">
                            <h3>Nik Pettit | <small>UI Designer</small></h3>
                            <p>Best. Product. Ever! E commerces is the  next killer app. Wow what great service, I love it! Thank you so much for your help..</p>
                        </div>
                        <div>
                            <img src="~/Content/assets/images/testimonials1.png" alt="Banner">
                            <h3>Nik Pettit | <small>UI Designer</small></h3>
                            <p>Best. Product. Ever! E commerces is the  next killer app. Wow what great service, I love it! Thank you so much for your help..</p>
                        </div>
                        <div>
                            <img src="~/Content/assets/images/testimonials1.png" alt="Banner">
                            <h3>Nik Pettit | <small>UI Designer</small></h3>
                            <p>Best. Product. Ever! E commerces is the  next killer app. Wow what great service, I love it! Thank you so much for your help..</p>
                        </div>
                        <div>
                            <img src="~/Content/assets/images/testimonials1.png" alt="Banner">
                            <h3>Nik Pettit | <small>UI Designer</small></h3>
                            <p>Best. Product. Ever! E commerces is the  next killer app. Wow what great service, I love it! Thank you so much for your help..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid faqSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center heading">Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel-group" id="accordion" style="padding:0 50px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                                        How tough is Kick Dummy? Will it split?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    I still have my original Kick Dummy which I made nearly 2 years ago. It's still standing and it's taken some real punishment.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                        Will the Kick Dummy fall over?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                                        Do I need a pump to inflate Kick Dummy?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">
                                        How can I store away Kick Dummy?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed">
                                        What should I wear when using Kick Dummy?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
