
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 blueHeading">
            <div class="clearfix"></div>
            <div class="marginTop30px"></div>
            <h2 class="text-center">The self-service support</h2>
            <div class="clearfix"></div>
            <div class="marginTop30px"></div>
            <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
            <div class="clearfix"></div>
            <div class="col-sm-10 col-sm-offset-1 supportSearch">
                <input type="text" class="form-control" placeholder="Search the Knowledge Base" />
                <button class="btn btn-success supportSearchBtn"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
            <div class="clearfix"></div>
            <div class="marginTop30px"></div>
        </div>
    </div>


    <div class="row marginTop30px">
        <div class="col-sm-4">
            <div class="catBox knowledge">
                <h3>
                    Knowledge Base<br />
                    <small>39 Articles/ 12 Categories</small>
                </h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="catBox forum">
                <h3>
                    Forums<br />
                    <small>10 Topics/ 7 Posts</small>
                </h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="catBox news">
                <h3>
                    News
                    <br />
                    <small>11 Posts/ 3 Categories</small>
                </h3>
            </div>
        </div>
    </div>

    <div class="row marginTop30px">
        <div class="col-sm-4">
            <div class="listbox">
                <h4>Popular Articles</h4>
                <ul>
                    <li><a href="#">Lorem Ipsum is simply</a></li>
                    <li><a href="#">It is a long established</a></li>
                    <li><a href="#">Contrary to popular belief, Lorem</a></li>
                    <li><a href="#">There are many variations of passages</a></li>
                    <li><a href="#">Richard McClintock, a Latin professor</a></li>
                    <li><a href="#">There are many variations of passages</a></li>
                    <li><a href="#">All the Lorem Ipsum generators</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="listbox">
                <h4>Most Helpful Articles</h4>
                <ul>
                    <li><a href="#">Lorem Ipsum is simply</a></li>
                    <li><a href="#">It is a long established</a></li>
                    <li><a href="#">Contrary to popular belief, Lorem</a></li>
                    <li><a href="#">There are many variations of passages</a></li>
                    <li><a href="#">Richard McClintock, a Latin professor</a></li>
                    <li><a href="#">There are many variations of passages</a></li>
                    <li><a href="#">All the Lorem Ipsum generators</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="listbox chatIcon">
                <h4>Popular Forum Topics</h4>
                <ul>
                    <li><a href="#">Lorem Ipsum is simply by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                    <li><a href="#">It is a long established by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                    <li><a href="#">Contrary to popular belief, Lorem by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                    <li><a href="#">There are many variations of passages by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                    <li><a href="#">Richard McClintock, a Latin professor by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                    <li><a href="#">There are many variations of passages by <span class="writtenBy"><img src="~/Content/images/user.png" /> Thales Philibert</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

