
@for (int i = 0; i < 5; i++)
{
    if (ViewBag.averageRating > i)
    {
        double rest = ViewBag.averageRating - i;
        if (rest <= 0.9)
        {
            <span><img src="~/Content/assets/icons/half-rating-star.png" /></span>
        }
        else
        {
            <span><img src="~/Content/assets/icons/filled-rating-star.png" /></span>
        }
    }
    else
    {
        <span><img src="~/Content/assets/icons/empty-rating-star.png" /></span>
    }
}
@if (ViewBag.averageRating != 0)
{
    <span class="badge">@ViewBag.averageRating</span>
}
