

<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Best Seller</h2>
            </div>
            <div class="col-sm-12">
                <div class="owl-carousel popularProducts" style="overflow:hidden">
                    <div>
                        <img src="~/Content/assets/images/popularProduct1.png" class="img-responsive" alt="Banner">
                        <div class="contentDetail">
                            <h6>Apple MacBook Pro</h6>
                            <h5>₹ 93,990</h5>
                        </div>
                        <div class="productReviews">
                            <ul class="ul-table">
                                <li><i class="fa fa-thumbs-up"></i> 500</li>
                                <li><i class="fa fa-comments"></i> 200</li>
                                <li><i class="fa fa-eye"></i> 300</li>
                            </ul>
                        </div>
                        <div class="addToCart">
                            <button><i class="fa fa-cart-plus"></i> Add To Cart</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>