
@{
    ViewBag.Title = "orders";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}


<div class="blueHeading nomargin">
    <h3 class="nomargin">Order History</h3>
</div>

@Html.Action("_orders","shop")

