@model ViewModels.ServiceProviderViewModel

<h3>Seller Details</h3>
<div class="serviceProviderDetail marginB30Only">
    <div class="sellerImage">
        <img src="~/Content/assets/images/testimonials1.png" />
    </div>
    <div class="sellerDetail">
        <p>@Model.ServiceProvider_Name <span class="badge yellowBg darkText padding2T10lpx">4.3 <i class="fa fa-star"></i></span></p>
        <p><strong>@Model.Bus_user_name</strong></p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the  industry's dummy text ever since the 1500s,when an orem Ipsum is simply dummy
                text of the printing and typesetting industry. Lorem Ipsum has been the  industry's standard dummy text ever since the 1500s, when an unknown unknown
            </p>
        </div>
    </div>
</div>
